Package: erlang-twitter
Version: 0.3
Section: web 
Priority: optional
Architecture: all
Essential: no
Depends: erlang
Installed-Size: 1024
Maintainer: Nick Gerakines <nick@gerakines.net>
Provides: erlang_twitter
Description: A simple Twitter/Identi.ca interface library.
